@{
    ViewBag.title = "Ryan's Page";
}

    <!--content will take the place of the body-->
    <content>
        <h1>Buffer</h1>
        <h1>I go by Ryan Evelyn</h1>
        <h2>Hope you enjoy the content</h2>
        <img src="img/funpic.jpeg" alt="Ryan having fun" width="50%">

        <br>
        <!--paragraph of hopes and dreams-->
        <p>I hope that this class will really teach me how to code in a way that will contribute to the internet. You see, I hope to become an data scientist one day and the most that I think I'll be using from the web is API configuration. But saying that, I really do like to style pages as well for fun </p>
        <!--This is the list i've created-->
        <ul>
            <h3>Top 3 Job Picks</h3>
            <li>Data Scientist</li>
            <li>Software Engineer</li>
            <li>Web Developer</li>
        </ul>
        <!--This is the start of my form-->

    </content>

